*{
    margin: 0;
}
.AB-container{
    display: grid;
    grid-template-columns: repeat(3, 450px);
    grid-template-rows: 250px 640px;
    grid-template-areas: 
    'header header header'
    'leftt midddle rightt';
    gap: 140px;
    justify-content: center;
    .AB-container-item1{
        grid-area: header;
        display: grid;
        justify-content: center;
        justify-items: center;
  }
  h1{
    font-size: 70px;
    font-weight: 800;
    color: rgba(28, 35, 35, 1);
  }
}