@import url(./firuz.css);

*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.AB-container{
    display: grid;
    grid-template-columns: repeat(3, 450px);
    grid-template-rows: 250px 640px;
    grid-template-areas: 
    'header header header'
    'leftt midddle rightt';
    gap: 140px;
    justify-content: center;
}
.AB-container-item1{
      grid-area: header;
      display: grid;
      justify-content: center;
      justify-items: center;
      p{
        font-size: 30px;
        font-weight: 400;
        color: rgba(28, 35, 35, 1);
        line-height: 45px;
        padding-top: 20px;
        padding-bottom: 51px;
  }
  h1{
    font-size: 70px;
    font-weight: 800;
    color: rgba(28, 35, 35, 1);
}
}


#AB-full{
   width: 15%;
}
.AB-container-item2{
      grid-area: leftt;
}
.AB-container-item3{
      grid-area: midddle;
}
.AB-container-item4{
      grid-area: rightt;
      img{
        width: 450px;
        height: 450px;
    }
}
.AB-projecth1{
    color: rgba(88, 169, 165, 1);
    font-weight: 700;
    line-height: 60px;
}
.AB-projectp{
    font-weight: 500;
    color: rgba(72, 105, 88, 1);
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 35px;
}


.AB-testimonal{
padding-top: 250px;
text-align: center;
h1{
    font-size: 70px;
    font-weight: 800;
    color: rgba(28, 35, 35, 1);
}
.AB-sponsors{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
}
