@import url(./firuz.css);
@import url(./firuz.css);
.Mj-navbar{
  margin-top: 50px;   
  display: grid;
  grid-template-columns: 30% 40% 30%;
  justify-content: center;
  text-align: center;
}
.Mj-navbar ul{
  display: flex;
  list-style-type: none;
  gap: 40px;
  justify-content: center;
}
.Mj-navbar a{
  text-decoration: none;
  font-size: 20px;
  font-family: Poppins;
font-size: 25px;
font-weight: 400;
line-height: 38px;
letter-spacing: 0em;
text-align: left;
color: #404242;
}
#Home{
border-radius: 21px;
  border-bottom: 0.3px solid  #FEC62D;
  padding-bottom: 10px;
  border-width: 2px;
}
button{
  margin-top: 15px;
  height: 50px;
  width: 40%;
  background: #58A9A5;
border-radius: 15px;
text-align: center;
justify-content: end;
}
button:hover{
  background-color: aliceblue;
}

.Mj-navbar ul a:hover{
 color: red;
}
.Mj-left a:hover{
 background-color: aliceblue; 
 color: black ;
 border: 0.5px solid black;
}
button a{
  font-family: Poppins;
font-size: 25px;
font-weight: 500;
line-height: 38px;
letter-spacing: 0em;
text-align: left;
color: white;
}
.Mj-main{
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
  margin-top: 80px;
}

.Mj-left h1{
  font-family: Poppins;
  font-size: 70px;
  font-weight: 800;
  line-height: 105px;
  letter-spacing: 0em;
  text-align: left;
  color: #1C2323;    
}
.Mj-left p{
  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  color: #404242;
}
.Mj-left a{
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  background: #58A9A5;
  border-radius: 20px 20px 20px 0px;
  font-family: Poppins;
font-size: 25px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
text-decoration: none;
}
.Mj-right img{
  background: #CCF0E6;
  border-radius: 120px;
}

$Mj-font: Poppins;
$Mj-background: #CCF0E6;
$Mj-background-hover: aliceblue; 

.Mj-navbar{
  h1{
    font-family: $Mj-font;
  }
  a{
    font-family: $Mj-font;
  }
}
*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.AB-container{
    display: grid;
    grid-template-columns: repeat(3, 450px);
    grid-template-rows: 250px 640px;
    grid-template-areas: 
    'header header header'
    'leftt midddle rightt';
    gap: 140px;
    justify-content: center;
}
.AB-container-item1{
      grid-area: header;
      display: grid;
      justify-content: center;
      justify-items: center;
      p{
        font-size: 30px;
        font-weight: 400;
        color: rgba(28, 35, 35, 1);
        line-height: 45px;
        padding-top: 20px;
        padding-bottom: 51px;
  }
  h1{
    font-size: 70px;
    font-weight: 800;
    color: rgba(28, 35, 35, 1);
}
}


#AB-full{
   width: 15%;
}
.AB-container-item2{
      grid-area: leftt;
}
.AB-container-item3{
      grid-area: midddle;
}
.AB-container-item4{
      grid-area: rightt;
      img{
        width: 450px;
        height: 450px;
    }
}
.AB-projecth1{
    color: rgba(88, 169, 165, 1);
    font-weight: 700;
    line-height: 60px;
}
.AB-projectp{
    font-weight: 500;
    color: rgba(72, 105, 88, 1);
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 35px;
}


.AB-testimonal{
padding-top: 250px;
text-align: center;
h1{
    font-size: 70px;
    font-weight: 800;
    color: rgba(28, 35, 35, 1);
}
.AB-sponsors{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
}
.Mj-navbar{
    margin-top: 50px;   
    display: grid;
    grid-template-columns: 30% 40% 30%;
    justify-content: center;
    text-align: center;
  }
  .Mj-navbar ul{
    display: flex;
    list-style-type: none;
    gap: 40px;
    justify-content: center;
  }
  .Mj-navbar a{
    text-decoration: none;
    font-size: 20px;
    font-family: Poppins;
  font-size: 25px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: #404242;
  }
  #Home{
  border-radius: 21px;
    border-bottom: 0.3px solid  #FEC62D;
    padding-bottom: 10px;
    border-width: 2px;
  }
  button{
    margin-top: 15px;
    height: 50px;
    width: 40%;
    background: #58A9A5;
  border-radius: 15px;
  text-align: center;
  justify-content: end;
  }
  button:hover{
    background-color: aliceblue;
  }
  
  .Mj-navbar ul a:hover{
   color: red;
  }
  .Mj-left a:hover{
   background-color: aliceblue; 
   color: black ;
   border: 0.5px solid black;
  }
  button a{
    font-family: Poppins;
  font-size: 25px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  }
  .Mj-main{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    margin-top: 80px;
  }
  
  .Mj-left h1{
    font-family: Poppins;
    font-size: 70px;
    font-weight: 800;
    line-height: 105px;
    letter-spacing: 0em;
    text-align: left;
    color: #1C2323;    
  }
  .Mj-left p{
    font-family: Poppins;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: #404242;
  }
  .Mj-left a{
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background: #58A9A5;
    border-radius: 20px 20px 20px 0px;
    font-family: Poppins;
  font-size: 25px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  text-decoration: none;
  }
  .Mj-right img{
    background: #CCF0E6;
    border-radius: 120px;
  }
  
  $Mj-font: Poppins;
  $Mj-background: #CCF0E6;
  $Mj-background-hover: aliceblue; 
  
  .Mj-navbar{
    h1{
      font-family: $Mj-font;
    }
    a{
      font-family: $Mj-font;
    }
  }


*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.AB-container{
    display: grid;
    grid-template-columns: repeat(3, 450px);
    grid-template-rows: 250px 640px;
    grid-template-areas: 
    'header header header'
    'leftt midddle rightt';
    gap: 140px;
    justify-content: center;
}
.AB-container-item1{
      grid-area: header;
      display: grid;
      justify-content: center;
      justify-items: center;
      p{
        font-size: 30px;
        font-weight: 400;
        color: rgba(28, 35, 35, 1);
        line-height: 45px;
        padding-top: 20px;
        padding-bottom: 51px;
  }
  h1{
    font-size: 70px;
    font-weight: 800;
    color: rgba(28, 35, 35, 1);
}
}


#AB-full{
   width: 15%;
}
.AB-container-item2{
      grid-area: leftt;
}
.AB-container-item3{
      grid-area: midddle;
}
.AB-container-item4{
      grid-area: rightt;
      img{
        width: 450px;
        height: 450px;
    }
}
.AB-projecth1{
    color: rgba(88, 169, 165, 1);
    font-weight: 700;
    line-height: 60px;
}
.AB-projectp{
    font-weight: 500;
    color: rgba(72, 105, 88, 1);
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 35px;
}


.AB-testimonal{
padding-top: 250px;
text-align: center;
h1{
    font-size: 70px;
    font-weight: 800;
    color: rgba(28, 35, 35, 1);
}
.AB-sponsors{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
}
